*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-size: 100%;
    margin: 25px 0 10px;
}


.container-formulario {    
    max-width: 600px;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

input::placeholder {
    font-size: 90%;
}

.radio { 
    text-align: center;
}

.intereses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 0 auto;
}

.container-file{
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.botones {
    margin: 0 auto;
}

.botones input {
    width: 100px;
    height: 40px; 
    margin: 0 10px;
    font-weight: bold;
    background-color: #eee;
    color: black;
    border: 1px solid #000;
    border-radius: 5%;
    transition: all 450ms;
}

.botones input:hover {
    background-color: #0044AA;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 481px) {
    .container-formulario {
        max-width: 432px;
    }
}